<div id='footer-container' class='navbar navbar-fixed-bottom'>
  <div class='navbar-inner'>
    <div id="footer" class="fixed-bottom container">
      <div class="row-fluid">
        <div class='span8 centered pad-footer-top no-padding-left'>
          SabyasachiProject
        </div>
      </div>
    </div>
  </div>
</div>